<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:c="http://www.springframework.org/schema/c" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd">

	<bean id="roleHierarchy" class="org.springframework.security.access.hierarchicalroles.RoleHierarchyImpl">
		<property name="hierarchy">
			<value>
				ROLE_ADMIN > ROLE_MANAGER
				ROLE_MANAGER > ROLE_TELLER
				ROLE_TELLER > ROLE_USER
			</value>
		</property>
	</bean>

	<!-- <bean id="roleVoter" class="org.springframework.security.access.vote.RoleHierarchyVoter">
		<constructor-arg>
			<ref bean="roleHierarchy" />
		</constructor-arg>
	</bean>

	<bean id="expressionHandler" class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler">
		<property name="roleHierarchy" ref="roleHierarchy" />
	</bean>

	<bean id="webExpressionHandler" class="org.springframework.security.web.access.expression.WebExpressionVoter">
		<property name="expressionHandler">
			<ref bean="expressionHandler" />
		</property>
	</bean>
	
	<bean id="accessDecisionManager" class="org.springframework.security.access.vote.AffirmativeBased">
		<constructor-arg>
			<list>
				<ref bean="roleVoter" />
				<bean class="org.springframework.security.access.vote.AuthenticatedVoter" />
				<ref bean="webExpressionHandler" />
			</list>
		</constructor-arg>
	</bean> -->

	<bean id="defaultMethodSecurityExpressionHandler"
		class="org.springframework.security.access.expression.method.DefaultMethodSecurityExpressionHandler">
		<property name="roleHierarchy" ref="roleHierarchy" />
	</bean> 

	<security:global-method-security secured-annotations="enabled" pre-post-annotations="enabled">
		<security:expression-handler ref="defaultMethodSecurityExpressionHandler" />
	</security:global-method-security>

	<bean id="bankTxn" class="com.ddlab.rnd.spring.security.BankTransactionImpl" />

</beans>
